<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Online Calculator</title>
    <meta name="description" content="An online Node Express & Handlebars based calculator">
    <meta name="author" content="Johannes Kortmann">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    {{{ body }}}
</body>
<script src="js/calculator.js"></script>
</html>