<div id="calculator">
    <input id="calc-input" class="calc-content-block input">
    <button onclick="deleteInput()" id="ac" type="button" class="calc-content-block ac">ac</button>
    <button onclick="inputKeypress(event)" id="seven" type="button" class="calc-content-block seven">7</button>
    <button onclick="inputKeypress(event)" id="eight" type="button" class="calc-content-block eight">8</button>
    <button onclick="inputKeypress(event)" id="nine" type="button" class="calc-content-block nine">9</button>
    <button onclick="inputKeypress(event)" id="division" type="button" class="calc-content-block division">/</button>
    <button onclick="inputKeypress(event)" id="four" type="button" class="calc-content-block four">4</button>
    <button onclick="inputKeypress(event)" id="five" type="button" class="calc-content-block five">5</button>
    <button onclick="inputKeypress(event)" id="six" type="button" class="calc-content-block six">6</button>
    <button onclick="inputKeypress(event)" id="times" type="button" class="calc-content-block times">*</button>
    <button onclick="inputKeypress(event)" id="one" type="button" class="calc-content-block one">1</button>
    <button onclick="inputKeypress(event)" id="two" type="button" class="calc-content-block two">2</button>
    <button onclick="inputKeypress(event)" id="three" type="button" class="calc-content-block three">3</button>
    <button onclick="inputKeypress(event)" id="minus" type="button" class="calc-content-block minus">-</button>
    <button onclick="inputKeypress(event)" id="zero" type="button" class="calc-content-block zero">0</button>
    <button onclick="inputKeypress(event)" id="dot" type="button" class="calc-content-block dot">.</button>
    <button onclick="inputKeypress(event)" id="plus" type="button" class="calc-content-block plus">+</button>
    <button onclick="sendRequest()" id="equals" type="button" class="calc-content-block equals">=</button>
</div>
